/* CustomDropdown.css */
<<<<<<< HEAD

/* Container for the entire dropdown */
.custom-dropdown-container {
  position: relative;
  width: auto;
}

/* Header of the dropdown that is initially visible */
=======
.custom-dropdown-container {
  position: relative;
  width: auto;
  
}

>>>>>>> bd2b330544d00e00b2b8189d1c0f6363aa0a4bc9
.custom-dropdown-header {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}

<<<<<<< HEAD
/* Options container that appears when the dropdown is open */
=======
>>>>>>> bd2b330544d00e00b2b8189d1c0f6363aa0a4bc9
.custom-dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  z-index: 10;
}

<<<<<<< HEAD
/* Individual option within the dropdown */
.custom-dropdown-option {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for background color change */
}

/* Styling when hovering over an option */
=======
.custom-dropdown-option {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

>>>>>>> bd2b330544d00e00b2b8189d1c0f6363aa0a4bc9
.custom-dropdown-option:hover {
  background-color: #b4cfe0;
}
