@import url("https://fonts.googleapis.com/css2?family=Inter&family=Zilla+Slab&display=swap");

/* /////////////////////////////////////////////// */
/* Resetting styles for the document */
html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Zilla Slab", serif;
}

/* For webkit-based browsers */
::-webkit-scrollbar {
  background-color: lightgray; 
  border-radius: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--borderColor); /* Set the background color of the thumb */
  border-radius: 10px; /* Set the border-radius */
  height: 100px;
}

/* For Firefox */
::-moz-scrollbar-thumb {
  background-color: var(--fontColor); /* Set the background color of the thumb */
  border-radius: 10px; /* Set the border-radius */
  height: 100px;
}
/* /////////////////////////////////////////////// */

/* /////////////////////////////////////////////// */
/* Root variables for consistent styling */
:root {
  --fontSize: 20px;
  --fontColor: #27485d;
  --borderColor: #284a5e;
  --BackgroundColor: #f1f6fd;
  --BorderSuccessValidation: #1ee196;
  --BorderErrorValidation: #e1341e;
  --buttonBackgroundColor: #1e6ae1;
}
/* /////////////////////////////////////////////// */

/* /////////////////////////////////////////////// */
/* Layout styling for the main container */
.main-container {
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the form container */
.form-container {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* Header styling for the form */
.form-heading {
  font-size: 2em;
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--fontColor);
}

/* Form width on larger screens */
.form-container form {
  width: 400px;
}

/* Styling for input boxes */
.name-input-container,
.sector-selector-container {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 20px 0;
}

/* Label styling for input boxes */
.name-input-container label,
.sector-selector-container label {
  color: var(--fontColor);
  font-size: var(--fontSize);
  font-weight: 500;
}

/* Input box styling */
.name-input-container .custom-input {
  width: auto;
  padding: 4px 12px;
  border-radius: 10px;
  border: none;
  outline: 1px solid lightgrey;
  height: 30px;
  font-size: 14px;
  background: transparent;
}

/* Input box focus styling */
.name-input-container .custom-input:focus {
  outline: 1px solid #b4cfe0;
  background: transparent;
}
/* /////////////////////////////////////////////// */

/* /////////////////////////////////////////////// */
/* Button styling */
.save-button {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  color: #ffffff;
  background: var(--borderColor);
  border: none;
  width: 150px;
  font-size: var(--fontSize);
  margin-top: 10px;
}

/* Button hover styling */
.save-button:hover {
  background: #476d73;
}

/* Disabled button styling */
.save-button-disabled {
  opacity: 0.5;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  color: #ffffff;
  background: var(--borderColor);
  border: none;
  width: 150px;
  font-size: var(--fontSize);
}
/* /////////////////////////////////////////////// */

/* /////////////////////////////////////////////// */
/* Styling for the side text container */
.side-text-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(#27485d, #284a5e);
  font-size: 2.5em;
  color: var(--BackgroundColor);
  min-height: 100vh;
  max-height: 100svh;
}

/* Styling for text within the side text container */
.side-text-container p {
  width: 350px;
  text-align: start;
}

/* /////////////////////////////////////////////// */
/* Responsive design for screens below 768px */
@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: row;
    width: 100%;
  }

  .form-container {
    flex: auto;
    width: 100%;
    height: 100%;
    padding: 12px;
  }

  .form-heading {
    font-size: var(--fontSize);
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .form-container {
    width: 100%;
  }

  .form-container form {
    width: 100%;
  }

  .side-text-container {
    display: none;
  }
}

/* /////////////////////////////////////////////// */
/* Responsive design for screens between 450px and 768px */
@media screen and (min-width: 450px) and (max-width: 768px) {
  .form-container form {
    width: 400px;
  }
}
