@import url("https://fonts.googleapis.com/css2?family=Inter&family=Zilla+Slab&display=swap");
/* //////////////////////////////////// */
html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Zilla Slab", serif;
}
/* //////////////////////////////////// */

/* //////////////////////////////////// */
/* Declearing some root variables */
:root {
  --fontSize: 20px;
  --fontColor: #27485d;
  --borderColor: #284a5e;
  --BackgroundColor: #f1f6fd;
  --BorderSuccessValidation: #1ee196;
  --BorderErrorValidation: #e1341e;
  --buttonBackgroundColor: #1e6ae1;
}

/* ////////////////////////////////////////// */
/* Css Design Flow for the form and side quote */
.container {
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* A Div containing the form tag */
.form-box {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* Giving the form tag a fixed Width across the big Screen or screen from 768px and above */
.form-box form{
  width: 400px;
}

.name-box,
.selector-box {
  display: flex;
  flex-direction: column;
  width: auto;
}

.name-box label,
.selector-box label {
  color: var(--fontColor);
  font-size: var(--fontSize);
  font-weight: 500;
}

.name-box .custom-input
{
  width: auto;
  padding: 4px 12px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  height: 30px;
  font-size: 14px;
}


.custom-input:focus {
  border: 1px solid var(--borderColor);
}

/* ///////////////////////////////////////////// */

/* ///////////////////////////////////////////// */
/* Button Design */
.save-button {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  color: #ffffff;
  background: var(--borderColor);
  border: none;
  width: 150px;
  font-size: var(--fontSize);
}

.save-button:hover{
  background: #476D73;
}
.save-button-disabled{
  opacity: 0.5;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  color: #ffffff;
  background: var(--borderColor);
  border: none;
  width: 150px;
  font-size: var(--fontSize);
}
/* ///////////////////////////////////////////// */


/* ///////////////////////////////////////////// */
/* Side div or the right div with the Quote content */
.side-text {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(#27485d, #284a5e);
  font-size: 2.5em;
  color: var(--BackgroundColor);
  min-height: 100vh;
  max-height: 100svh;
}

.side-text p {
  width: 400px;
  text-align: start;
}
/* /////////////////////////////////////////////// */
