@import url("https://fonts.googleapis.com/css2?family=Inter&family=Zilla+Slab&display=swap");
/* //////////////////////////////////// */
html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Zilla Slab", serif;
}
/* //////////////////////////////////// */

/* //////////////////////////////////// */
/* Declearing some root variables */
:root {
  --fontSize: 18px;
  --fontColor: #27485d;
  --borderColor: #284a5e;
  --BackgroundColor: #f1f6fd;
  --BorderSuccessValidation: #1ee196;
  --BorderErrorValidation: #e1341e;
  --buttonBackgroundColor: #1e6ae1;
}

/* ////////////////////////////////////////// */
/* Css Design Flow for the form and side quote */
.container {
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* A Div containing the form tag */
.form-box {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.form-header {
  font-size: 2em;
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--fontColor);
}

/* Giving the form tag a fixed Width across the big Screen or screen from 768px and above */
.form-box form {
  width: 400px;
}

.name-box,
.selector-box {
  display: flex;
  flex-direction: column;
  width: auto;
}

.name-box label,
.selector-box label {
  color: var(--fontColor);
  font-size: var(--fontSize);
  font-weight: 500;
}

.name-box .custom-input {
  width: auto;
  padding: 4px 12px;
  border-radius: 10px;
  border: none;
  outline: 1px solid lightgrey;
  height: 30px;
  font-size: 14px;
  background: transparent;
}

.name-box .custom-input:focus {
  outline: 1px solid #b4cfe0;
  background: transparent;
}

/* ///////////////////////////////////////////// */

/* ///////////////////////////////////////////// */
/* Button Design */
.save-button {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  color: #ffffff;
  background: var(--borderColor);
  border: none;
  width: 150px;
  font-size: var(--fontSize);
}

.save-button:hover {
  background: #476d73;
}
.save-button-disabled {
  opacity: 0.5;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  color: #ffffff;
  background: var(--borderColor);
  border: none;
  width: 150px;
  font-size: var(--fontSize);
}
/* ///////////////////////////////////////////// */

/* ///////////////////////////////////////////// */
/* User List Design Flow */
.user-list-modal{
  position: absolute;
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 2px 2px 2px 3px whitesmoke;
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
}

.user-list-modal ul{
  padding: 0;
}

.user-list-modal ul li{
  margin: 4px 0;
  list-style: none;
  text-align: start;
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;
}

.user-list-modal ul li:hover{
  background: var(--BackgroundColor);
}

/* ///////////////////////////////////////////// */

/* ///////////////////////////////////////////// */
/* Side div or the right div with the Quote content */
.side-text {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(#27485d, #284a5e);
  font-size: 2.5em;
  color: var(--BackgroundColor);
  min-height: 100vh;
  max-height: 100svh;
}

.side-text p {
  width: 350px;
  text-align: start;
}
/* /////////////////////////////////////////////// */

/* adding responsiveness from a width of 768px */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: row;
    width: 100%;
  }

  .form-box {
    flex: auto;
    width: 100%;
    height: 100%;
    padding: 12px;
  }

  .form-header {
    font-size: var(--fontSize);
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .form-box {
    width: 100%;
  }

  .form-box form {
    width: 100%;
  }

  .side-text {
    display: none;
  }
}

@media screen and (min-width: 450px) and (max-width: 768px) {
  .form-box form {
    width: 400px;
  }
}
